<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="ad.size" content="width=728,height=90">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="initial.css">
    <script src="https://s0.2mdn.net/ads/studio/Enabler.js"></script>
    <script src="https://s0.2mdn.net/ads/studio/cached_libs/gsap_3.1.0_min.js"></script>
    <title>AT&amp;T Lebron James 728x90</title>
    <script type="text/javascript">
        var clickTag = "https://www.doubleclickbygoogle.com/";
    </script>
</head>

<body>
    <a href="javascript:window.open(window.clickTag)">
        <div id="wrapper">
            <div id="img">
                <div id="slogan">
                    <div id="slogan-part1">Find What You Love</div>
                    <div id="slogan-part2">With a Voice Command</div>
                </div>
            </div>


            <div id="footer">           
                <div id="footline" class="orangeline"></div>

                <div id="text-1-Wrap">      
                    <span id="text1">Now in Your<br>Building.</span><br>
                </div>

                <div id="text-2-Wrap">      
                    <span id="text2">Food.<br>Games.<br>Fun!</span><br>
                </div>

                <div id="event-title">Come by to learn more!</div>
                <div id="textevent">     
                    <span id="text5">Lobby</span>
                    <span id="text6">6 - 8pm</span>
                    <span id="text7">September 22</span>
                </div>
            </div> 


            <div id="bgexit"></div>
            <div id="logo">
                <div id="logoline" class="orangeline"></div>
                <div id="logoitem"></div>
            </div>


            <div id="wrect"></div>
            <div id="border"></div>

        </div>
    </a>
    <script src="initial.js"></script>
</body>

</html>
