@font-face {
    font-family: "ATTAleckSans_Bold";
    src: url("ATTAleckSans_Bold.woff") format("woff"), url("ATTAleckSans_Bold.woff2")  format("woff2");
}

@font-face {
    font-family: "ATTAleckSans_Medium";
    src: url("ATTAleckSans_Medium.woff") format("woff"), url("ATTAleckSans_Medium.woff2")  format("woff2");
}

body {
    margin:0;
    padding:0;	
}

div {
    position:absolute;
}

#wrapper {
    display:block;
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
	overflow: hidden;
	background: -webkit-gradient(linear, left top, right top, from(#2fc5f4), to(#047cb5));
	background: linear-gradient(to right, #2fc5f4, #047cb5);
}

#wrect {
    width: inherit;
    height: inherit;
    background: -webkit-gradient(linear, left top, right top, from(#2fc5f4), to(#047cb5));
    background: linear-gradient(to right, #2fc5f4, #047cb5);
    pointer-events: none;
}

#border {
    border: 1px solid #565656; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

#logo {
    width: 175px;
    height: inherit;
    background: -webkit-gradient(linear, left top, right top, from(#2bc3f4), to(#14ade4));
    background: linear-gradient(to right, #2bc3f4, #14ade4);
    cursor: pointer;
    left: 0;
}

#logoitem {
    position: absolute;
    top: -23px;    
    left: 49%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 159px;
    height: 140px;
    background: url("logo.png") center center;
    background-size: contain;
    background-repeat: no-repeat;    
    cursor: pointer;
    pointer-events: none;
}

.orangeline {
    width: 3px;
    height: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffab05), to(#ff595c));
    background: linear-gradient(to bottom, #ffab05, #ff595c);
}

#footer {
    width: 175px;
    height: inherit;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(#14ade4), to(#027ab3));
    background: linear-gradient(to right, #14ade4, #027ab3);
}

#footline {
    left:-3px;
}

#logoline {
    right:-3px;
}

/*TEXT*/
#text-1-Wrap {
    text-align: center;
    width: inherit;
    top: 22px;
}

#text1 {
    font-family: "ATTAleckSans_Bold", serif;
    font-size: 25px;
    color: #fff;
}

#text-2-Wrap {
    text-align: center;
    width: inherit;
    top: 10px;
}

#text2 {
    font-family: "ATTAleckSans_Bold", serif;
    font-size: 25px;
    color: #fff;
}

#event-title {
    font-size: 14px;
    font-family: "ATTAleckSans_Bold", serif; 
    color: #fff;
    top: 7px;
    width: inherit;
    text-align: center;
}

#textevent {
    text-align: center;
    width: 169px;
    height: 50px;
    bottom: 7px;
    right: 3px;
    font-family: "ATTAleckSans_Medium", serif;
    font-size: 12px;
    line-height: 110%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#slogan {
    font-family: "ATTAleckSans_Bold", serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    line-height: 120%;
    top: 30px;
    width: inherit;
    height: inherit;
}

#slogan-part1, #slogan-part2 {
    width: 160px;
    top: 15px;
}

#slogan-part1 {
    left: 13px;
}

#slogan-part2 {
    right: 11px;
}

#img {
    width: 377px;
    height: inherit;
    top: 0;
    left: 175px; 
    background: url('image.jpg') no-repeat center center;
    background-size: cover;
}

